opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'ORKL Connector 1.0'
  scope: 'identity,reports,threat-actors,tools'
  update_existing_data: false
  run_and_terminate: false
  log_level: 'info'

orkl:
  base_url: 'https://orkl.eu/api/v1/library' # Required
  interval: 2 # Required, in hours advice min 2
  maintain_data: True # Required, retrieve only updated data
  pull_history: True # If True, history_start_year is required
  history_start_year: 2024 # Required if pull_history is True
  max_entries_to_process: 1 # Maximum number of entries to be processed every connector run

